<h1>SignIn Details</h1>
<form action = "/signin" method = "POST">
    <div>
        <input type="name" id="name" name="name" placeholder="Enter Full Name" required>
        <br>
        <br>
    </div>
    <div>
        <input type="email" id="email" name="email" placeholder="Enter userId" required>
        <br>
        <br>
    </div>
    <div>
        <input type= "password" id="password" name="password" placeholder="Enter Password" required>
        <br>
        <br>
    </div>
    <button type="submit">SignUp</button>
</form>
<a href = "/login">LogIn</a>