<h1>AUTHENTICATION USING OAuth</h1>
<button id="google" class="float-left submit-button" >SignIn with Google</button>
<br>
<button id="API" class="float-left submit-button" >SignIn with API</button>

<script>
    document.getElementById("google").onclick = function () {
        location.href = "/google";
    };
    document.getElementById("API").onclick = function () {
        location.href = "/admin";
    };
</script>