<h1>AUTHENTICATION USING OAuth</h1>
<button id="google" class="float-left submit-button" >SignIn with Google</button>


<script>
    document.getElementById("google").onclick = function () {
        location.href = "/google";
    };
</script>